.auth__container {
  height: 100vh;
  overflow: hidden;
}

.auth__right {
  display: flex;
  align-items: center;
  height: 100vh;
}

.auth__form__container {
  width: 70%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.auth__form_title {
  font-family: @secondary-font;
  font-weight: 700;
  font-size: @text-xl;
  margin-bottom: 0 !important;

  .auth__company__name {
    color: @primary-color;
  }
}

.auth__form__prompt {
  font-family: @secondary-font;
  font-weight: 300;
  font-size: @text-md;
  color: #435465;
  margin-bottom: 0 !important;
}

.auth__form {
  margin-top: 3rem;
}

.form__item .ant-form-item-label {
  padding-bottom: 6px;

  .ant-form-item-required {
    width: 100%;
  }
  .ant-form-item-required::before {
    display: none !important;
  }
}

.input__label {
  font-size: @text-md;
  font-family: @secondary-font;
  font-weight: 600;
}

.error__label {
  font-size: @text-md;
  font-family: @secondary-font;
  font-weight: 600;
  color: @error-color;
}

.auth__password__label {
  font-size: @text-md;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.auth__forgot__password {
  font-size: @text-sm;
  font-family: @secondary-font;
  padding-right: 0;
  font-weight: 600;
}

.form__input {
  border: 1px solid #435465;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.auth__error__msg {
  font-family: @secondary-font;
  font-size: @text-xs;
  color: @error-color;
}

.auth__checkbox__item {
  margin-bottom: 3rem;
  font-family: @secondary-font;
  font-size: @text-sm;
}

.login__btn {
  width: 100%;
  font-size: @text-md;
  font-family: @secondary-font;
}
