.grade__header__row__btn {
  cursor: pointer;
  text-decoration: underline;
}
.grade__header__taRank {
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
