@form-padding: 20px;

.container {
  padding-bottom: @form-padding;
}

.form_heading {
  font-size: @text-lg;
  font-weight: 600;
}

.create__company__container {
  background-color: @white;
}

.section__heading {
  padding: @form-padding;
  font-size: @text-md;
  color: @primary-black;
  border-top: @border-light-gray;
}

.basic_information_section_heading {
  border-bottom: @border-light-gray;
  border-top: none;
}

.form__section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.form__section_container {
  flex: 1;
  padding: @form-padding;
}

.form__section_upload {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: @form-padding;
}

.financial_year_container,
.contract__details_year_container {
  width: 120%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contract__details_year_container {
  width: 59%;
}

.datepicker__container {
  width: 47%;
}

.img_description_text {
  font-size: @text-xs;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 10px;
}
.img_description_size {
  font-size: @text-sm;
  text-align: center;
  margin: 0px;
}

.contact__person__sub_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contact__person_item {
  flex: 1;
  margin-right: 50px;
}

.form__submit__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
  padding: @form-padding;
}

.img_description_text {
  color: @primary-color;
  font-size: @text-xs;
}

.img_description_size {
  color: @secondary-text;
  font-size: @text-xs;
}

.stock_tracking_id__container {
  display: flex;
}

.stock_tracking_id__container > input {
  margin-right: 25px;
}
