@padding: 25px;
@section-border-bottom: @border-light-gray;

.company__details__container {
  background-color: @white;
}

.company__profile_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: @padding;
  border-bottom: @section-border-bottom;
}

.company__profile_sub_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.company__profile_credentials h1 {
  color: @primary-black;
  font-size: @text-lg;
  font-weight: 600;
}

.company__profile_credentials h4 {
  color: @primary-color;
  font-size: @text-sm;
  font-weight: 600;
}

.company__profile_credentials p {
  color: @secondary-text;
  font-size: @text-sm;
  font-weight: 500;
}

.company__profile_credentials {
  margin-left: 30px;
}

.company__details__section_container {
  padding: @padding;
  border-bottom: @section-border-bottom;
}

.company__details__section_container h1 {
  color: @primary-black;
  font-size: @text-md;
  margin-bottom: 25px;
}

.company__details_item {
  display: flex;
  flex-direction: row;
  width: 50vw;
}

.company__details_item_heading {
  width: 22vw;
  color: @secondary-text;
  font-size: @text-sm
}

.company__details_item_value {
  color: @primary-black;
  font-size: @text-md;
}

.contact__details__section_container {
  padding: @padding;
  margin-bottom: @padding;
}

.contact__details__heading_container {
  display: flex;
  justify-content: space-between;
}

.contact__details__section_container div h1 {
  color: @primary-black;
  font-size: @text-md;
  margin-bottom: 25px;
}
