.table__action__col {
  display: flex;
  justify-content: center;
}

.table__action__btn {
  color: #566eeb;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.industry__title {
  margin: 0 !important;
}

.table__sector__text {
  color: @secondary-text !important;
}
