.sectors__title {
  font-size: @text-lg;
  font-weight: 600;
  margin-bottom: 16px !important;
}

.sectors__btn {
  outline: none;
  border: none;
  display: flex;
  align-items: center;

  span {
    // font-family: "Hando";
    // position: relative;
    // top: 1px;
    font-size: @text-sm;
    font-weight: 600;
    padding-left: 16px;
  }
  &--upload {
    background-color: @green-color-light !important;
  }
  &--download {
    background-color: transparent !important;
    color: @blue-light !important;
    border: 1px solid @blue-light !important;
    margin-left: 16px;
  }
  &--add {
    width: 209px;
    display: flex;
    justify-content: center;
  }
  &--addIndustry {
    width: 184px;
    display: flex;
    justify-content: center;
  }
}

.sectors__col {
  display: flex;
  align-items: center;

  &--last {
    display: flex;
    justify-content: flex-end;
  }
}

.sectors__table {
  margin-top: 20px;
}

.table__action__col {
  display: flex;
  justify-content: center;
}

.table__action__btn {
  color: #566eeb;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.industry__title {
  margin: 0 !important;
}

.table__sector__text {
  color: @secondary-text !important;
}
