.btn {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  &__icon {
    width: 15px;
    max-width: 15px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__children {
    font-size: @text-sm;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 16px;
  }
  &--download_client {
    background-color: @primary-black-light !important;
    color: white !important;
    border: 1px solid @primary-black-light !important;
    margin-left: 16px;
  }
  &--upload {
    background-color: @green-light !important;
  }

  &--download {
    background-color: transparent !important;
    color: @blue-light !important;
    border: 1px solid @blue-light !important;
    margin-left: 16px;
  }
  &--add {
    width: 209px;
    display: flex;
    justify-content: center;
  }
  &--addIndustry {
    width: 184px;
    display: flex;
    justify-content: center;
  }
}
