.companies {
  &__upper {
    display: flex;
    justify-content: space-between;
    &__searchbar {
      width: 25vw;
      border: none;
    }
  }
}

.companies__table__col__title {
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
}
