label {
  font-weight: 500;
  margin-bottom: 8px;
  display: inline-block;
}

// Table Styles
.ant-table-thead {
  .ant-table-cell {
    color: @secondary-text;
    font-size: @text-sm;
    font-weight: 600;
    text-transform: uppercase;

    &::before {
      display: none;
    }

    .ant-table-filter-column {
      width: min-content;
      white-space: nowrap;

      .ant-table-column-title {
        margin-right: 2.2rem;
      }
    }
  }
}

.table__action__menu {
  display: flex;
  justify-content: center;
}

.table__filter__icon {
  fill: @secondary-text;
}

// Popup Styles
.success__popup {
  width: 661px !important;
}

.success__popup .ant-modal-content {
  width: 661px;
  height: 301px;
}

.success__popup img {
  margin-bottom: 24px;
}

.success__popup button {
  height: 40px;
  padding: 0 40px;
  font-weight: 600;
  font-size: 16px;
}

.success__popup__title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 8px;
}

.success__popup__desc {
  margin-bottom: 12px;
  color: #435465;
}
