// TABLE STYLES
.ant-table-thead {
  .ant-table-cell {
    color: @secondary-text;
    font-size: @text-sm;
    font-weight: 600;
    text-transform: uppercase;

    &::before {
      display: none;
    }

    .ant-table-filter-column {
      width: min-content;
      white-space: nowrap;

      .ant-table-column-title {
        margin-right: 2.2rem;
      }
    }
  }
}

.table__action__menu {
  display: flex;
  justify-content: center;
}

.table__filter__icon {
  fill: @secondary-text;
}

label {
  font-weight: 500;
  margin-bottom: 8px;
  display: inline-block;
}

.success__popup {
  width: 661px !important;
}

.success__popup .ant-modal-content {
  width: 661px;
  height: 301px;
}
