// fonts
@font-family: Montserrat, sans-serif;
@secondary-font: HK Grotesk, sans-serif;

// colors
@primary-color: #2f49d1;
@primary-color-light: #8fa6e3;
@primary-white: #f0f0f0;
@primary-black: #0b2540;
@secondary-text: #435465;
@white: #ffffff;
@light-gray: #d9d9d9;
@green-light: #23dbaf;
@blue-light: #23a7d0;
@error-color: #fa1818;
@error-color-light: #d83939;

// font sizes
@text-xxl: 40px;
@text-xl: 28px;
@text-lg: 24px;
@text-ml: 20px;
@text-md: 16px;
@text-mds: 15px;
@text-sm: 14px;
@text-xs: 12px;

// border
@border: 1px solid @primary-white;
@border-primary: 1px solid @primary-color;
@border-light-gray: 0.75px solid @light-gray;

// transition
@transition-2ms: 0.2s all ease-in-out;
@transition-3ms: 0.3s all ease-in-out;
