label {
  font-weight: 500;
  margin-bottom: 8px;
  display: inline-block;
}

button {
  font-weight: 600 !important;
}
.spinner {
  font-size: 20px;
}

.spinner-md {
  font-size: 22px !important;
}

/* --- Horizontal Alignment --- */
.align-center {
  display: flex;
  justify-content: center;
}

.align-end {
  display: flex;
  justify-content: flex-end;
}

.align-start {
  display: flex;
  justify-content: flex-start;
}

/* --- Headings --- */
.main-heading {
  font-size: @text-lg;
  font-weight: 600;
}

.sub-heading {
  font-weight: 600;
  font-size: @text-md;
}

/* --- Text Width --- */
.text-wrap {
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* --- Margins --- */
.mb-32 {
  margin-bottom: 32px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mt-24 {
  margin-top: 24px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mt-16 {
  margin-top: 16px;
}

/* --- Paddings --- */
.pb-16 {
  padding-bottom: 16px;
}
.pt-16 {
  padding-top: 16px;
}
