label {
  font-weight: 500;
  margin-bottom: 8px;
  display: inline-block;
}

.link {
  color: #2f49d1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Headings --- */
.main-heading {
  font-size: @text-lg;
  font-weight: 600;
}

.sub-heading {
  font-weight: 600;
  font-size: @text-md;
}

/* --- Margins --- */
.mb-20 {
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mt-16 {
  margin-top: 16px;
}
