.layout__container {
  height: 100vh;
}

.layout__sider {
  background-color: @primary-color;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  min-width: 252px !important;
  max-width: 252px !important;
  width: 252px !important;
}

.sider__logo__container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.sider__links__container {
  padding: 0px 2rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.sider__link,
.sider__sub__link {
  color: @primary-color-light;
  width: 100%;
  max-width: 100%;
  white-space: normal;
  text-align: left;
  font-weight: 500;
  font-size: @text-sm;
  display: flex;
  height: max-content;
  padding: 0;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &:hover {
    color: white;
  }
}

.sider__sub__link--active {
  color: white;
  font-weight: 500px;
}

.sider__sub__link {
  margin-left: 2rem;
}

.sider__icon__container {
  width: 16px;
  height: 16px;
  margin-top: 1px;
  margin-right: 1rem;

  .sider__link__icon {
    margin-right: 1rem;
  }
}
.content__container {
  padding: 0px;
  overflow-y: scroll;
}

.layout__header {
  padding: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1.5rem;
}

.layout__breadcrumbs {
  font-size: @text-xs;
  margin: 42px 24px 12px;
}

.header__notif__icon__container {
  display: flex;
}

.header__divider {
  width: 1px;
  height: 50%;
  background: @secondary-text;
  opacity: 0.3;
  margin: 0 1.5rem 0 1.8rem;
}

.profile__menu__toggle {
  display: flex;
  cursor: pointer;

  height: 80%;
  width: auto;
  align-items: center;

  .profile__menu__text__container {
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
    margin-left: 0.7rem;

    .profile__menu__user__name {
      line-height: 17.1px;
      font-size: @text-sm;
      font-weight: 700;
    }
    .profile__menu__user__role {
      line-height: 14.6px;
      font-size: @text-xs;
      font-weight: 500;
    }
  }

  .profile__menu__icon__container {
    height: min-content;
    line-height: 1;
  }
}
