.page__heading {
  font-size: @text-lg;
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
  text-align: left;
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.form__input {
  width: 25vw;
}

.companies__table__col__title {
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
}
