.addSector__row {
  margin: 0 -32px;

  padding: 32px;

  &:first-of-type {
    padding-top: 0;
  }
  &:not(:last-of-type) {
    border-bottom: @border;
    margin-bottom: 24px;
  }
}
.addSector__dropdown {
  width: 100%;
  font-size: 14px;
}

.addSector__dropdown__option {
  font-weight: 500;

  &--btn {
    color: @primary-color;
  }
}

.addSector__title {
  font-weight: 600;
  font-size: 16px;
}
