.uploadSalaryRange {
  &__uploadField {
    position: relative;
    &__btn {
      position: absolute;
      right: 4px;
      bottom: 4px;
    }
  }
  &__datepicker {
    height: 40px;
    width: 46%;
  }
  &__col {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__ {
    color: #0b2540;
    opacity: 0.5;
  }
}
