@form-padding: 20px;

.container {
  // height: 100vh;
  // border: 1px solid green !important;
}

.create__company__container {
  background-color: #fff;
}

.section__heading {
  padding: @form-padding;
  font-size: 16px;
  color: #0b2540;
  border-top: 0.75px solid #d9d9d9;

}

.form__section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
//   border-top: 0.75px solid #435465;
}

.form__section_container {
  flex: 1;
  padding: @form-padding;

  //   border: 1px solid green;
}

.form__section_upload {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: @form-padding;

  //   border: 1px solid blue;
}

.financial_year_container,
.contract__details_year_container {
  width: 120%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contract__details_year_container {
  width: 59%;
}

.datepicker__container {
  width: 47%;
}

.img_description_text{
    font-size: 12px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
}
.img_description_size{
    font-size: 14px;
    text-align: center;
    margin: 0px;
}
