.settings__title {
  font-size: @text-lg;
  font-weight: 600;
  margin-bottom: 16px !important;
}

.settings__parent__col {
  display: flex;
  align-items: center;
  &--last {
    display: flex;
    justify-content: flex-end;
  }
}

.settings__table {
  margin-top: 20px;
}

.settings__table__action__col {
  display: flex;
  justify-content: center;
}

.settings__table__action__col__btn {
  color: #566eeb;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.settings__table__action {
  color: #566eeb;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  &:first-of-type {
    margin-right: 32px;
  }
}

/* Modal Styles */
.create__row {
  margin: 0 -32px;

  padding: 32px;

  &:first-of-type {
    padding-top: 0;
  }
  &:not(:last-of-type) {
    border-bottom: @border;
    margin-bottom: 24px;
  }
}

.create__dropdown,
.create__input {
  width: 100%;
  font-size: @text-sm;
  height: 40px;
}

.create__title {
  font-weight: 600;
  font-size: @text-md;
}

.create__dropdown__option {
  font-weight: 500;

  &--btn {
    color: @primary-color;
  }
}
