.addGradeCompany {
  background-color: white;
  border-radius: 2px;

  &__header {
    padding: 24px;
    border-bottom: @border;
  }

  &__fields {
    padding: 32px 24px;
    border-bottom: @border;
    &--optional {
      color: @error-color-light;
      font-weight: 400;
    }
  }

  &__table {
    &__title {
      padding: 24px;
      width: 100%;
    }
  }
}
