.page__heading {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    text-align: left;
  }
  
  .header__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  
  .form__input {
    width: 25vw;
  }