.table {
  font-weight: 500 !important;
  .ant-table-thead .ant-table-cell {
    padding-top: 13px !important;
    padding-bottom: 13px !important;
  }

  .ant-table-tbody .ant-table-cell {
    color: @secondary-text !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
}
